</div>
</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p>Data provided by: <a href="https://coinpaprika.com/api/">Coinpaprika API</a></p>
    <p>©️ <%= new Date().getFullYear(); %> Mubashir Sohail.
    </p>
  </div>
</footer>
</div>
</body>

</html>