<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoRate</title>
  </head>

  <body>
    <header>
      <a href="/"><h1>CryptoRate</h1></a>
    </header>

    <main></main>
  </body>
</html>
