<%- include("partials/header.ejs") %>

<!-- <button type="button">Bitcoin</button> -->

<form method="GET" action="/bitcoin">
  <input id="get" type="submit" value="Bitcoin" formaction="/bitcoin">
  <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
</form>
<% if (locals.price) { %>
<p>USD: 
  <%= price %>
</p>
<% } %>

<%- include("partials/footer.ejs") %>